* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, sans-serif;
    font-size: 14px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.75);
    border-bottom: 1px solid rgba(100, 100, 100, 1);
    color: #ffffff;
}

window#waybar.hidden {
    opacity: 0.2;
}

label {
    padding: 0 5px;
}

label:focus {
    background-color: #000000;
}

button {
    padding: 5px;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 3px #ffffff;
}

button.focused {
    background-color: inherit;
    box-shadow: inset 0px -3px #ffffff;
}

button.urgent {
    background-color: #eb4d4b;
}

/* Weird spacing without this */
#taskbar label {
    padding-left: 1px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #333333;
}

#battery {
    background-color: #ecf0f1;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ecf0f1;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio:hover {
    background-color: #a37800;
}

#pulseaudio {
    background-color: #f1c40f;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #000000;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#tray {
    background-color: #333333;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #333333;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #333333;
}

#keyboard-state {
    color: #ffffff;
    min-width: 16px;
}

#keyboard-state > label.locked {
    background: #ecf0f1;
    color: #000000;
}

#bluetooth {
    padding: 0 5px;
}

#bluetooth.discoverable {
    background: #2980b9;
    color: #000000;
}

#bluetooth.discovering {
    background: #1ca000;
    color: #000000;
}

#bluetooth.off,
#bluetooth.disabled,
#bluetooth.no-controller {
    background: #eb4d4b;
    color: #000000;
}

#systemd-failed-units.degraded {
    background: #eb4d4b;
    color: #000000;
}

